body {
    margin: 0;
}

/* Start of styling of header section */

.section-one {
    background-color: #1F2937;
    color: #F9FAF8;
    font-family: Roboto, 'Times New Roman', serif;
    height: 428px;
}

/* Start of styling of header banner */
.header {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.header-logo {
    font-size: 24px;
}

.links {
    list-style-type: none;
    display: flex;
    gap: 20px;
    font-size: 18px;
    color: #E5E7EB;
}

.links li {
    margin: 0;
    padding: 0;
}
/* End of styling of header banner */

.container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 55px;
}

.main-text {
    display: flex;
    flex-direction: column;
    gap: 5px;
    max-width: 400px;
}

.hero-main {
    font-size: 48px;
    font-weight: 900;
}

.hero-secondary {
    font-size: 18px;
    color: #E5E7EB;
}

.hero-button {
    background-color: #3882F6;
    color: #F9FAF8;
    border: none;
    padding: 5px;
    max-width: 100px;
    border-radius: 4px;
    margin-top: 10px;
}

/* Start of styling of header section */
