body {
    margin: 0;
    font-family: Roboto, 'Times New Roman', serif;
}

/* Start of styling of header section */

.section-one {
    background-color: #1F2937;
    color: #F9FAF8;
    height: 428px;
}

/* Start of styling of header banner */
.header {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.header-logo {
    font-size: 24px;
}

.links {
    list-style-type: none;
    display: flex;
    gap: 20px;
    font-size: 18px;
    color: #E5E7EB;
}

.links li {
    margin: 0;
    padding: 0;
}
/* End of styling of header banner */

.container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 55px;
}

.main-text {
    display: flex;
    flex-direction: column;
    gap: 5px;
    max-width: 400px;
}

.hero-main {
    font-size: 48px;
    font-weight: 900;
}

.hero-secondary {
    font-size: 18px;
    color: #E5E7EB;
}

.hero-button {
    background-color: #3882F6;
    color: #F9FAF8;
    border: none;
    padding: 5px;
    max-width: 100px;
    border-radius: 4px;
    margin-top: 10px;
}

/* End of styling of header section */

/* Start of styling of information section */
.information-section {
    height:400px;
}

.information-header {
    font-weight: 900;
    font-size: 36px;
    color: #1F2937;
    padding: 32px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.information-photos {
    display: flex;
    gap: 35px;
    justify-content: center;
    align-items: center;
}

.photos {
    max-width: 170px;
}

.photo {
    padding: 60px 5px;
    border: 3px solid #3882F6;
    border-radius: 10px;
    text-align: center;
}

.photo-text {
    font-size: 18px;
    color: #526077;
    text-align: center;
}
/* End of styling information section */

/* Start of styling quote section */

.quote-section {
    background-color: #E5E7EB;
    height: 360px;
    display: flex;
    justify-content: center;
}

.box-quote {
    max-width: 800px;
    padding: 100px 20px;
}

.quote {
    font-size: 36px;
    font-weight: 300;
    font-style: italic;
    color: #1F2937;
}

.speaker {
    text-align: end;
    font-size: 18px;
    font-weight: 800;
    color: #1F2937;
}
/* End of styling quote section */

/* Start of call to action section */

.action {
    margin: 50px;
    background-color: #3882F6;
    color: #F9FAF8;
    padding: 50px;
    display: flex;
    justify-content: space-between;
}

.call-button {
    background-color: #3882F6;
    color: #F9FAF8;
    border-color: #F9FAF8;
    border-style: solid;
    border-radius: 6px;
    padding: 5px 40px;
}

/* End of call to action section */